<main>
  <section class="container">
    <div class="sub-container">
      <h2>Bem-vindo à minha garagem digital! 🚗💻</h2>
      <p>
        Aqui é onde eu construo, ajusto e aprimoro meus projetos, assim como um
        mecânico faz com seus carros.Meu nome é [Seu Nome], e sou um
        desenvolvedor web que gosta de transformar ideias em sistemas funcionais
        e bem-feitos.
      </p>
      <p>
        Na minha garagem, você vai encontrar projetos que misturam tecnologia,
        criatividade e um toque de personalidade. Curte um bom código? Então dá
        uma olhada nos meus trabalhos e veja o que eu já criei!
      </p>
    </div>
    <button class="btn btn-primary">
      <a href="/garage">MINHA GARAGEM</a>
    </button>
  </section>
</main>
