html, body{
    display: block;
    background: none !important;
    height: 100%;
}

:host {

    .container{
    min-height: 100vh;
    display: block;
    text-align: center;
    overflow: hidden;
    }

    .sub-container{
        margin: 20px 40%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        padding: 12px 24px;

            p{
                font-size: 20px;
                font-family: 'Roboto';
            }
        }
        .btn-left{
            img{
                width: 60px;
                position: absolute;
                left: 10px;
                margin: -600px 0px;
                cursor: pointer;
            }

        }
        .btn-right{
            img{
                width: 60px;
                position: absolute;
                right: 10px;
                margin: -600px 0px;
                cursor: pointer;
            }

        }

        .civic{
            width: 100%;
            margin-top: -350px;
            cursor: pointer;
        }
    }

    .exit-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1000;
      }
      
      .exit-sign {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #55952A;
        padding: 6px 12px;
        border: 2px solid #ff4444;
        border-radius: 8px;
        box-shadow: 0 0 10px red;
      }
      
      .exit-sign img {
        height: 24px;
      }
      
      .arrow-exit{
        height: 50px !important;
      }
      .runner {
        animation: run 0.5s steps(4) infinite;
      }
      
      @keyframes run {
        from { transform: translateX(0); }
        to { transform: translateX(5px); }
      }
      
      @media (max-width: 1450px) {
        
        .civic{
            margin-top: -240px !important;
        }
      }