html, body{
    display: block;
    background: none !important;
    height: 100%;
}

:host {

    .container{
    height: 100vh;
    display: block;
    text-align: center;
    overflow: hidden;
    }

    .sub-container{
        margin: 20px 40%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        padding: 12px 24px;

            p{
                font-size: 20px;
                font-family: 'Roboto';
            }
        }
        .btn-left{
            img{
                width: 60px;
                position: absolute;
                left: 10px;
                margin: -600px 0px;
                cursor: pointer;
            }

        }
        .btn-right{
            img{
                width: 60px;
                position: absolute;
                right: 10px;
                margin: -600px 0px;
                cursor: pointer;
            }

        }

        .civic{
            width: 100%;
            margin-top: -350px;
        }
    }