<div class="container">
  <div class="text-modal">
    <h2 class="title">Sistema Empregados</h2>
    <p>
      Aplicação web desenvolvida para gerenciar cadastros de empregados de forma
      simples e eficiente. O sistema permite criar, editar, visualizar e excluir
      registros, com interface responsiva e intuitiva. Foi construído usando
      Angular standalone, Angular Material, CDK Dialog, e Signals no front-end;
      no back-end, utilizamos ASP.NET Core com C#, Entity Framework Core e SQL
      Server, tudo hospedado com Railway (banco) e Render (API). Também
      aplicamos formulários reativos, RxJS e boas práticas REST com DTOs para
      garantir performance e organização.
    </p>

    <button class="btn btn-primary">
      <a href="https://sistemaempregadoangular.netlify.app/" target="_blank"
        >Sistema Empregados</a
      >
    </button>
  </div>
</div>
