:root {

    --primary: #152A29;
    --primary-010: #3E5B58;

    --second : #44444496;
    --second-010: #454545;

    --grey: #666;
    --grey-010: #4444449a;

    --black: #242429;
    --black-001: #303033;
    --black-010: #22212156;

    --white: #ffff;
    --white-010: #f1f1f1;
    
    --background--primary:
    url('../../assets/img/skyline.jpg') no-repeat center center fixed;
;
    --background--primary-010:
        url('../../assets/img/civic.png') no-repeat center center fixed;
    ;
}